/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
	margin:0;
}
.silene-icon {
  padding: 0 8px;
}

.silene-spacer {
  flex: 1 1 auto;
}

.silene-menu-button{
	margin:0;
	padding:0;
}

.silene-news-card{
	margin:10px;
}

.border-test{
	border:1px solid red;
}